.additional__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
  }
}

.additional-products__wrapper {
  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additional-products__title {
  color: $basic_black;
  font-family: $font-Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: min-content;
  white-space: nowrap;
  background-color: #fff;
  padding: 0 20px;
  margin-left: -20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 35px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $basic_green;

    @media (min-width: $desktop-width) {
      padding: 0 40px;
    }
  }
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    padding: 26px 0px 28px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    justify-content: space-between;
  }
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 27px 38px 27px 38px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
  }
}

.additional-products__cart-title {
  color: #222222;
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.additional-products__span {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 216px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.additional-products__name {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 160px;
    justify-content: flex-start;
  }
}

.additional-products__price {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 100px;
    justify-content: flex-end;
  }
}

.additional-products__link {
  display: flex;
  width: 320px;
  height: 40px;
  padding: 10px 0px;
  margin: 15px 0 19px 0;
  justify-content: center;
  align-items: center;
  background-color: $basic_green;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
