.additional__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 70px;
  }
}

.additional {
  position: relative;
}

.additional__products-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 40px;
  }
}

.additional__products-title {
  color: $basic-black;
  font-family: $font-Oswald;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  width: min-content;
  white-space: nowrap;
  background-color: $basic-white;
  padding: 0 20px;
  margin: 25px 0 37px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 91px;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 69px 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin: 0 0 54px;
  }
}

.additional__products-list {
  list-style: none;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    padding: 26px 0 28px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.additional__products-item {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px 39px 12px;
    border: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 895px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    border: none;
    border-bottom: 1px solid $special-grey;
    border-top: 1px solid $special-grey;
  }
}

.additional__products-cart-title {
  color: #222222;
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 12px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
  }
}

.additional__products-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 236px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    width: 285px;
    margin-top: 5px;
  }
}

.additional__products-name {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 160px;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.additional__products-price {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 43px;
    justify-content: flex-start;
    align-items: center;
  }
}

.additional__products-link {
  display: flex;

  @include button;
  height: 40px;
  padding: 10px 0;
  margin: 14px 0 16px;
  justify-content: center;
  align-items: center;
  background-color: $basic-green;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
