.bonus {
  display: flex;
  align-items: center;
}

.bonus__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.bonus__picture {
  position: relative;
  display: flex;
  justify-content: center;
}

.bonus__icon {
  position: absolute;
  margin: 58px 101px 0 121px;
  fill: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 57px 0 60px 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 82px 149px 83px;
  }
}

.bonus__text {
  color: $basic-white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 161px;
  position: absolute;
  margin: 186px 61px 43px 78px;

  @media (min-width: $tablet-width) {
    margin: 71px 125px 69px 421px;
  }

  @media (min-width: $desktop-width) {
    margin: 185px 42px 43px 42px;
  }
}
