.bonus {
  display: flex;
  align-items: center;
}

.bonus__wrapper {
  display: flex;
  flex-direction: column;
  margin: 37px auto;
  width: 280px;
  height: 290px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    margin: 42px 0 0 0;
    width: 707px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 27px 0 0 0;
  }
}

.bonus__wrapper--catalog {
  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.bonus__picture {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.bonus__icon {
  position: absolute;
  margin: 58px 100px 0 100px;
  fill: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 57px 0 60px 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 82px 149px 83px;
  }
}

.bonus__text {
  color: $basic-white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 161px;
  position: absolute;
  margin: 186px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    margin: 71px 125px 69px 421px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 185px 42px 43px 42px;
    text-align: center;
  }
}
