.case {
  background: #eaeaea;
}

.case__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .case__wrapper {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .case__wrapper {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto;
  }
}

.case__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.case__description {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.case__module {
}

.case__module-title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.case__module-description {
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}

.case__module-result {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
