.case {
  background: #eaeaea;
  font-family: $font-Oswald;
}

.case__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.case__title {
  color: #000000;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.case__description {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: $font-Lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.case__module {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.case__module-border {
  width: 124px;
  height: 56px;
  border: 1px #cdcdcd solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.case__module-title {
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.case__module-description {
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: #eaeaea;
  padding: 0 10px;
}

.case__module-description--bottom {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.case__module-result {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
