.case {
  font-family: $font-Oswald;
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    bottom: -40px;
    background: #eaeaea;
    width: 100%;
    height: 659px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 462px;
      bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      background: #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 0 0;
  }
}

.case__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 570px 1fr;
    padding: 0;
  }
}

.case__info {
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.case__title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 23px 0 40px 0;

  @media (min-width: $tablet-width) {
    margin: 63px 0 60px 0;
    text-align: center;
    display: flex;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px 0;
  }
}

.case__description {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: $font-Lato;
  margin: 0 0 20px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    width: 715px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
    width: 432px;
  }
}

.case__module {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0;
  }
}

.case__module-border {
  width: 124px;
  height: 56px;
  border: 1px #cdcdcd solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 70px;
  }
}

.case__module-border--margin {
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 43px;
  }
}

.case__module-title {
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.case__module-description {
  color: #444444;
  font-family: $font-Lato;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: #eaeaea;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
  }
}

.case__module-description--bottom {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: -8px;
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 5px;
  }
}

.case__module-result {
  color: #000000;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 15px 0 20px 47px;

  & span {
    margin-left: 5px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: -77px;
    font-size: 20px;
    display: flex;
    width: 174px;
    margin: 0 30px 0 auto;
    text-align: end;
    flex-direction: column;

    & span {
      margin-top: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: static;
    width: 326px;
    margin: 59px 0 0 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.case__images {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin-top: 147px;
    position: relative;
    top: -108px;
    left: -5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 85px 88px;
    top: 0;
    left: 0;
  }
}

.case__img {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.case__img img {
  max-width: none;
}

.case__imag--left {
  left: 0;
}

.case__imag--right {
  display: flex;
  right: 0;
  justify-content: flex-end;
}

.case__slider-control {
  position: absolute;
  display: block;
  width: 4px;
  height: 100%;
  left: 50%;
  border-radius: 2px;
  background-color: #666666;

  &:hover {
    background-color: $basic-green;
  }

  &:hover svg {
    fill: $basic-green;
  }

  &:hover .case__slider-button {
    outline-color: $basic-green;
  }
}

.case__slider-button {
  position: absolute;
  content: "";
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: -18px;
  bottom: 43%;
  border: none;
  outline: 2px solid #666666;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    bottom: 46%;
  }
}

.case__slider-button:hover {
  outline-color: $basic-green;
}

.case__slider-button svg {
  fill: #666666;
}

.case__slider-button:hover svg {
  fill: $basic-green;
}
