.case {
  background: #eaeaea;
  font-family: $font-Oswald;
}

.case__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.case__title {
  color: #000000;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.case__description {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: $font-Lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.case__module {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.case__module-border {
  width: 124px;
  height: 56px;
  border: 1px #cdcdcd solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.case__module-title {
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.case__module-description {
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: #eaeaea;
  padding: 0 10px;
}

.case__module-description--bottom {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.case__module-result {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.case__images {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.case__img {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.case__img img {
  max-width: none;
}

.case__imag--left {
  left: 0;
}

.case__imag--right {
  display: flex;
  right: 0;
  justify-content: flex-end;
}

.case__slider-control {
  position: absolute;
  display: block;
  height: 4px;
  left: 11px;
  width: 257px;
  bottom: 50%;
  border-radius: 2px;
  background-color: #666666;
  transform: rotate(90deg);

  &:hover {
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    width: 512px;
    left: 24px;
  }
}

.case__slider-button {
  position: absolute;
  content: "";
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: -18px;
  left: 41%;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    left: 46%;
  }

  &:hover {
    background-color: $basic_green;
  }
}

.case__slider-button svg {
  position: absolute;
  top: -2px;
  left: -2px;
  color: #666666;

  @media (min-width: $desktop-width) {
    top: -1px;
    left: -1px;
  }

  &:hover {
    color: $basic_green;
  }
}
