.catalog__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  display: flex;
  color: #000000;
  font-family: $font-Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  border-bottom: solid 1px #ebebeb;
  margin: 0;
  padding: 27px 0 41px 20px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    margin: 35px 0 43px 29px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 47px 0 40px 0;
  }
}
