.catalog {
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: $font-Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  border-bottom: solid 1px #ebebeb;
  margin: 0;
  padding: 27px 0 41px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: start;
    margin: 65px 0 165px 0;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
  }
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 140px;
    align-items: end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}

.catalog-list__item {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  padding: 20px 20px 25px 20px;
  border-bottom: solid 1px #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    flex-direction: column;
    align-items: center;
    background-color: $basic_grey;
    padding: 0px 37px 40px 37px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 245px;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-list__picture {
  display: flex;
  width: 140px;
  height: 107px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
  }
}

.catalog-list__item-img {
}

.catalog-list__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-list__item-title {
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 76px;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.catalog-list__item-table {
  display: flex;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

tbody {
  display: flex;
  width: 140px;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog-list__item-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: $special_dark-grey;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    border-bottom: solid 1px #cdcdcd;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
  }
}

.catalog-list__item-th {
  font-weight: 400;
}

.catalog-list__item-link {
  grid-column: 1 / -1;
  display: flex;
  width: 280px;
  padding: 10px 0px;
  color: $basic-white;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog-more {
  display: flex;
  width: 280px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    flex-direction: column;
    align-items: center;
    border: solid 2px #f2f2f2;
    padding: 148px 36px 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 245px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 119px 36px 40px;
  }
}

.catalog-more::before {
  content: "";
  display: inline-block;
  background-image: url("../img/plus.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 53px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog__more-title {
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px 0;
  }
}

.catalog__more-description {
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 82px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 90px 0;
  }
}

.catalog__more-link {
  grid-column: 1 / -1;
  display: flex;
  width: 280px;
  padding: 10px 0px;
  color: $basic-black;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
