.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    row-gap: 63px;
    margin-bottom: 74px;
  }
}

.catalog-list__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 19px;
  padding: 20px 20px 25px;
  border-bottom: solid 1px #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    height: 511px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient($basic-white 81px, $basic-grey 81px);
    padding: 0 37px 40px 37px;
    border: none;
    justify-content: flex-end;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-list__item-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-list__picture {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
  }
}

.catalog-list__item-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.catalog-list__item-title {
  font-family: $font-Oswald;
  text-decoration: none;
  color: $special-dark-grey2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 76px;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 20px 0 12px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    margin: 14px 0 17px;
  }
}

.catalog-list__item-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog-list__item-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $special-dark-grey;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    border-bottom: solid 1px #cdcdcd;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0 8px;
  }
}

.catalog-list__item-link {
  grid-column: 1 / -1;

  @include button;
  display: flex;
  width: 280px;
  padding: 10px 0;
  color: $basic-white;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-top: 36px;
  }
}

.catalog-list__more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    border: solid 2px #f2f2f2;
    padding: 160px 36px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 145px 36px 40px;
  }
}

.catalog-list__more::before {
  content: "";
  display: inline-block;
  background-image: url("../img/plus.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 24px;
  left: 50%;
  margin: 0 0 23px 0;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0;
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
  }
}

.catalog-list__more-title {
  text-align: center;
  text-decoration: none;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 53px 0 8px;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px 0;
  }
}

.catalog-list__more-description {
  text-align: center;
  font-family: $font-Lato;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 82px 0;
    font-size: 16px;
    line-height: 18px;
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 90px 0;
  }
}

.catalog-list__more-link {
  grid-column: 1 / -1;
  display: flex;

  @include button;
  width: 280px;
  padding: 10px 0;
  color: $basic-black;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $basic-grey;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin: 0;
  }
}
