.cooperation__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1220px;
    padding: 0;
  }
}

.cooperation__contacts {
  display: flex;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 14px 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    margin-top: 95px;
    padding: 60px 80px;
  }
}

.cooperation__title {
  color: #111111;
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.cooperation__text {
  color: $special-dark-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 140px;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 157px;
    display: flex;
    margin-left: auto;
    font-size: 16px;
    text-align: end;

    & span {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    margin-left: 50px;
    text-align: start;
  }
}

.cooperation__map {
  position: relative;
}

.cooperation__map--no-js {
  display: flex;
  width: 100%;
  height: 362px;
  background-image: url("../img/map-mobile1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet1x.png");
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-descktop1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-descktop2x.png");
    }
  }
}
