.description {}

.description__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .description__wrapper {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto;
  }
}

.description__title {
  color: $basic_black;
  text-align: center;
  font-family: $font-Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .description__title {
    text-align: start;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .description__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .description__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.description__item {
  color: $special_dark-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: $mobile-width-only) {
  .description__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
  }
}

@media (min-width: $tablet-width) {
  .description__item {
    display: flex;
    width: 245px;
    height: 280px;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
  }
}

.description__text {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .description__text {
    margin-top: 31px;
  }
}

.description__text-bg {
  text-align: center;
  font-family: $font-Oswald;
  font-size: 280px;
  font-weight: 400;
  line-height: 280px;
  color: $basic_grey;
}

@media (max-width: $mobile-width-only) {
  .description__text-bg {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .description__text-bg {
    display: inline;
    position: absolute;
    right: 0;
    z-index: -2;
  }
}
