.description__wrapper {
  @include wrapper;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto 46px;
    padding: 0 0 17px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.description__title {
  color: $basic-black;
  font-family: $font-Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 17px 0 42px 0;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    margin: 46px 0 31px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 35px;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: description;
    row-gap: 38px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
    margin: 0 0 27px;
  }
}

.description__item {
  color: $special-dark-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: counter(description) "";
    text-align: center;
    font-family: $font-Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    color: $basic-grey;
    counter-increment: description;
    position: absolute;

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: inline;
      position: absolute;
      right: 0;
      z-index: -2;
      width: 142px;
    }
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 245px;
    height: 280px;
    position: relative;
    flex-wrap: wrap;
  }
}

.description__item-bg {
  display: flex;
  width: 60px;
  height: 60px;
  max-width: none;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 40px;
  }
}

.description__item-bg--first {
  &::before {
    content: "";
    background-image: url("../img/group-icon1.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.description__item-bg--second {
  &::before {
    content: "";
    background-image: url("../img/group-icon2.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.description__item-bg--third {
  &::before {
    content: "";
    background-image: url("../img/group-icon3.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.description__item-bg--fourth {
  &::before {
    content: "";
    background-image: url("../img/group-icon4.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.description__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-Lato;
  width: 200px;

  @media (min-width: $tablet-width) {
    margin-top: -31px;
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }
}
