.fieldset-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 22px;
    width: 625px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.fieldset-list--additionally {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 35px;
    row-gap: 32px;
    column-gap: 63px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1195px;
    column-gap: 104px;
    margin: 0 45px 0 45px;
  }
}

.fieldset-list__label {
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.fieldset-list__title {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  color: $special-dark-grey;

  &::before {
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    position: relative;
    margin-right: 15px;
    outline: solid 1px #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  &:hover::before {
    outline-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.fieldset-list__input:checked+.fieldset-list__title::before {
  position: relative;
  content: "";
  margin-right: 15px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
