.fieldset__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    align-items: center;
  }
}

.fieldset__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 22px;
    width: 625px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.fieldset__list-contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 0 112px 0 30px;
    gap: 22px;
  }

  @media (min-width: $desktop-width) {
    gap: 82px;
    flex-direction: row;
    padding: 0 158px 0 55px;
  }
}

.fieldset__list--additionally {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 45px 0 28px;
    row-gap: 32px;
    column-gap: 68px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1195px;
    margin: 0 0 0 56px;
    column-gap: 104px;
  }
}

.fieldset__list--half-width {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 570px;
  }
}

.fieldset__list-radio {
  display: flex;
  list-style: none;
  margin: 22px 0 0 0;
  padding: 0 20px;
  gap: 13px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 22px 50px 0 0;
    padding: 22px 0 27px 27px;
    outline: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 30px;
    margin: 0 0 0 23px;
  }
}

.fieldset__label {
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.fieldset__title {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  color: $special-dark-grey;

  &::before {
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    position: relative;
    margin-right: 14px;
    outline: solid 1px #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 21px;
    }
  }

  &:hover::before {
    outline-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.fieldset__input:checked + .fieldset__title::before {
  position: relative;
  content: "";
  margin-right: 15px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
