.footer__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px;
  margin-top: 37px;
  gap: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px 40px 30px;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 110px;
  }
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 23px 0 12px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 11px 39px;
  }
}

.footer__social-item {
  display: flex;
}

.footer__social-item-link {
  fill: #666666;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-logo {
  display: flex;
  color: #111111;
  justify-content: center;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.footer__social-autor {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  fill: #666666;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__autor-htmlacademy {
  font-family: $font-Lato;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
}
