.form {
  font-family: $font-Oswald;
  color: #000000;
}

// form__application-form

.form__application-form {
}

.form__hero-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .form__hero-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form__hero-wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}

.form__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
}

// form__programs

.form__programs {
}

@media (min-width: $desktop-width) {
  .form__programs--half-width {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.form__programs-list {
  list-style: none;
}

.form__programs-item {
}

// form__contacts

.form__contacts {
}

.form__contacts-title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.contacts-owner__title {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

// form__comment

.form__comment {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

// form__additionally

.form__additionally {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__additionally-list {
  list-style: none;
}

.form__additionally-item {
}
