.form {
  font-family: $font-Oswald;
  color: #000000;
}

// form__application-form

.form__application-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__application-form>* {
  width: 100%;
}

.form__hero-wrapper {
  @include wrapper;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.form__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 27px 0 24px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 62px 0 34px 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 34px 0;
  }
}

.form__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 230px;
  text-transform: uppercase;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 350px;
    margin: 20px 0 66px 51px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0 64px 1px;
  }
}

// form__fieldset

.form__fieldset {
  display: flex;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: none;
  width: 100%;
  flex-direction: column;
  border-bottom: solid 1px #d9d9d9;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 0 38px;
    padding: 0 20px 14px 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.form__fieldset-wrapp {
  display: flex;
  margin: 0 auto;
  width: 320px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 0 0 0 10px;
  }
}

.form__fieldset--half-width {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 50%;
    padding: 0;
  }
}

.form__fieldset-title {
  font-family: $font-Oswald;
  font-size: 24px;
  line-height: 25px;
  margin: 26px 0 34px;
  font-weight: 400;
  background-color: $basic-white;
  padding: 0 20px;
  width: 228px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 35px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 40px;
      top: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 600px;
    margin: 13px 0 77px 0;
    padding: 0 0 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 29px 0 77px;
    padding: 0 0 0 55px;
  }
}

.form__fieldset-title--comment {
  margin: 3px 0 38px 0;
  font-size: 24px;
  line-height: 26px;
  width: 161px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 40px;
      top: 42px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin: 14px 0 88px 6px;
    width: 261px;
    padding: 0 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0 77px 5px;
    padding: 0 0 0 51px;
  }
}

.form__fieldset-title--dop {
  margin: 3px 0 35px;
  font-size: 24px;
  line-height: 26px;
  width: 181px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {
      padding: 0 40px;
      top: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin: -5px 0 57px 6px;
    width: 290px;
    padding: 0 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 3px 0 57px 15px;
  }
}

.form__fieldset-textarea {
  width: 282px;
  height: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  font-family: $font-Oswald;
  border: none;
  padding: 13px 16px;
  outline: 1px solid #e7e7e7;
  cursor: pointer;
  resize: none;
  margin: 0 0px 0 20px;

  @media (min-width: $tablet-width) {
    height: 175px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 17px 50px;
    padding: 10px 16px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 26px;
    width: 1224px;
  }
}

// form__button

.form__button {
  display: flex;
  width: 320px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 32px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 107px 0;
    width: 768px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 110px;
    margin: 8px auto 79px;
  }
}

.form__button-button {
  display: flex;

  @include button;
  font-family: $font-Oswald;
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 15px 0 21px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 284px;
    height: 54px;
    padding: 14px 45px;
    margin: 0 60px 0 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 54px;
    padding: 14px 188px;
  }
}

.form__button-info {
  text-align: center;
  font-family: $font-Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 17px;
  }
}