.form__contacts {
}

.form__contacts-title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.contacts-owner__title {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
