.hero {
  margin-bottom: 20px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto;
  }
}

.hero__background {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/background-mobile.png");
  width: 320px;
  height: 302px;
}

.hero__intro {
  text-align: center;
  font-family: $font-Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  margin-top: 27px;
}

.hero__slogan {
  color: #ffffff;
  font-family: $font-Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

.hero__img {
  z-index: 2;
  margin-top: -136px;
}

.hero__button {
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
