.main-nav {
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #ffffff;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow:
    0 6px 0 0 #000000,
    0 12px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 6px 0 0 fade(#000000, 30%),
    0 12px 0 0 fade(#000000, 30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}
@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav__wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    height: 50px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: flex;
    height: 59px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop-width) {
  .main-nav__list--background::before {
    content: "";
    position: absolute;
    background-image: url("../img/background-desktop.png");
    width: 720px;
    height: 694px;
    top: -13px;
    right: 0;
    z-index: -1;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    background-color: #ffffff;
    width: 322px;
    position: absolute;
    left: -21px;
    top: 14px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: inline-flex;
    align-items: center;
    gap: 33px;
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: inline-flex;
    align-items: center;
    gap: 33px;
    margin-right: 110px;
  }
}

.main-nav__list-item {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: $font-Oswald;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main-nav__list-item {
    border: none;
    display: contents;
  }
}
