.main-header__wrapper {
  @include wrapper;

  position: relative;
  padding: 13px 20px 10px 20px;
  border-bottom: solid 1px #ebebeb;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    padding: 25px 32px 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 56px 0 0;
  }
}

.main-header__logo {
  width: 190px;
}

.main-header__images {
  max-width: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
