.main-header {
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 13px 20px 15px 20px;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    padding: 25px 32px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    display: flex;
    width: 1220px;
  }
}

.main-header__logo {
  width: 190px;
}
