.program__wrapper {
  @include wrapper;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1220px;
    gap: 80px;
    margin-top: 266px;
  }
}

.program__cart {
  display: flex;
  padding: 20px;
  background-color: #f2f2f2;
  width: 280px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 708px;
    padding-top: 74px;
    padding-left: 52px;
    padding-bottom: 61px;
    row-gap: 24px;
    grid-template-columns: 1fr 264px;
    grid-template-rows: repeat(3, max-content);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 570px;
    padding-top: 32px;
    row-gap: 0;
  }
}

.program__icon-background {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  margin: 4px 20px 22px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    grid-column: 2;
    grid-row: 1 / -1;
    justify-self: center;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.program__icon-slim {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 50px;
  max-width: none;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.program__icon-pro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 28px;
  max-width: none;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
  }
}

.program__title {
  color: #000000;
  font-family: $font-Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: -20px 0 0 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 41px;
    margin-bottom: 14px;
  }
}

.program__description {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 16px;
    width: 340px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    margin-top: 18px;
  }
}

.program__link {
  color: #000000;
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 16px;
  display: flex;
  align-items: center;

  @include link;
  padding: 0;
  width: 170px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 12px 0 0 0;
  }
}

.program__link:hover svg {
  transform: translateX(0);
}

.program__link-arrow {
  overflow: hidden;
  position: relative;
  width: 32px;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
  }
}

.program__link-arrow svg {
  transform: translateX(-10px);
  transition: 300ms;
}
