.text-field {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 550px;
  }
}

.text-field__title {
  color: $special-dark-grey;
  font-family: $font-Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    margin-right: 15px;
  }
}

.text-field input {
  color: $special-dark-grey;
  width: 100%;
  font-family: $font-Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 40px 14px 15px;
  border: none;
  outline: 1px solid #e7e7e7;

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 10px 40px 10px 19px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
  }
}

.text-field__text-icon-mail {
  width: 0;

  &::before {
    position: relative;
    content: "";
    display: flex;
    right: 33px;
    background-image: url("../img/email.svg");
    width: 20px;
    height: 20px;
  }
}

.text-field__text-icon-tel {
  width: 0;

  &::before {
    position: relative;
    content: "";
    display: flex;
    right: 33px;
    background-image: url("../img/phone.svg");
    width: 20px;
    height: 20px;
  }
}
