*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: $font-Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
