// wrapper

@mixin wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@mixin button {
  border: none;
  background: #68b738;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

@mixin link {
  text-decoration: none;
  color: currentColor;
}
